@font-face {
  font-family: "SamsungSharpSans";
  src: url("SamsungSharpSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "SamsungOne";
    font-style: normal;
    font-weight: 200;
    src: url("SamsungOne-200.woff2");
    font-display: swap
}

@font-face {
    font-family: "SamsungOne";
    font-style: normal;
    font-weight: 400;
    src: url("SamsungOne-400.woff2");
    font-display: swap
}