/* Light */
@font-face {
  font-family: "Helvetica";
  src: url("helvetica_light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Helvetica";
  src: url("helvetica_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Medium */
@font-face {
  font-family: "Helvetica";
  src: url("helvetica_medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Helvetica";
  src: url("helvetica_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Helvetica";
  src: url("helvetica_black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}