@font-face {
  font-family: "SelaTypeBlack";
  src: url("Sela Type Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SelaTypeBlack";
  src: url("Sela Type Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SelaTypeBlack";
  src: url("Sela Type Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SelaTypeBlack";
  src: url("Sela Type ExtraBold.otf");
  font-weight: 700;
  font-style: normal;
}
